@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 100%;
    overflow-x: hidden;
}

.lower-case{
    text-transform: lowercase;
    font-weight: bold;
    background-color: red;
}

/*---HOME---*/
.container-general{
    max-width: 1440px !important;
    margin: auto !important;
    padding: 0 5vw !important;
}

.navBar-ancho{
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    width: 100vw;
    position: sticky;
    z-index: 1111;
    margin: auto;
    box-shadow: 0px 5px 15px -6px black;
}

/*slider*/
.text-slider{
    width: 100vw;
    margin: auto;
    background-color: #121010;
    opacity: 0.8;
    color: white;
}

.carousel-caption-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
    color: #fff;
    text-align: center;
}

.resto-container, pedido-container{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.resto-container{
    margin-top: 30px;
}

.text-valorado, .title-valorado{
    width: 80%;
    text-align: center;
    margin: auto;
}

.title-valorado, footer{
    margin-top: 50px;
}

.text-valorado{
    margin-top: 20px;
    margin-bottom: 50px;
}

/*cart*/
/*.scroll-modal{*/
/*    max-height: 32vh;*/
/*    overflow-y: scroll;*/
/*}*/

/*.container-detail{*/
/*    margin-top: 40px;*/
/*}*/

.container-items{
    max-height: 70vh;
    overflow-y: scroll;
}

.container-items::-webkit-scrollbar {
    width: 12px;
}
.container-items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0);
    border-radius: 10px;
}
.container-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0);
}

.container-detail{
    margin-top: 36px;
}

@media screen and (max-width: 996px){
    .container-general{
        padding: 0 !important;
    }

    .navBar-ancho{
        padding: 0 3vw;
    }

    .media-100{
        width: 100% !important;
    }

    .btn-group-responsive{
        margin-bottom: 10px;
        display: block;
    }

    .container-items{
        margin-bottom: 30px;
    }

    .container-detail{
        margin-top: 0;
    }

    .navbar-style{
        padding-bottom: 20px;
    }
}